.heading
{
    color:#FFF; font-size: 14px; padding:8px; margin-top: 12px;margin-bottom: 12px;
}
.form-group label
{
    font-size: 13px;color: #5f5b5b;
}

p {
    margin-top: 0;
     margin-bottom: 0rem!important;
}
.prea
{
    font-size: 12px;
}
