<div class="container">
  <div class="row">
    
    <!-- WACAP APPLICATION -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="bg-primary heading"><p>WACAP APPLICATION</p></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" />
        </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Phone</label>
                <input type="text"  class="form-control" />
                </div>
                  </div>

        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" />
                </div>
                  </div>



                  <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <label>Street address</label>
                      <input type="address"  class="form-control" />
                  </div>
                  </div>
        </div>

<div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>


                  <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                        <label>State</label>
                        <select class="form-control">
                            <option selected>
                               Select
                        </option>
                        </select>
                    
                    </div>
             </div>


             <div class="col-md-4 col-sm-4 col-xs-12">
             <div class="form-group">
                <label>ZIP Code</label>
                <input type="text" class="form-control" />
             </div>   
            </div>

          </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">     
  <div class="form-group">
      <label>Length at this address</label>
      <input type="text" class="form-control" />
    
  </div>
  </div>



  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="form-group">
      <label>Primary language spoken in the home</label>
      <input type="text" class="form-control"/>
  </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="form-group">
      <label>How did you hear about WACAP?</label>
      <input type="text"  class="form-control" />
     </div>


     <div class="form-group">
        <label>Why did you choose WACAP?</label>
        <input type="text" class="form-control" />
       
    </div>

  </div>
   </div>


<!-- APPLICANT 1: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION -->

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="bg-primary heading"><p>APPLICANT 1: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION</p></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" />
    </div>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Preferto be called</label>
            <input type="text" class="form-control" />
            </div>
              </div>

    </div>
                     <div class="col-md-12 col-sm-12 col-xs-12">


                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <div class="form-group">
                                <label>Marital Status</label>
                                <input type="text" class="form-control" />
                                </div>
                                  </div>


                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="form-group">
                            <label>Length of time</label>
                          
                            <select class="form-control">
                                <option selected>
                                   Select
                            </option>

                              <option>
                                        Married
                                </option>
    
                                <option>
                                        Divorced
                                    </option>
                                    <option>
                                        Widowed
                                        </option>
                            </select>

                            </div>

                     </div>



                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                          <label>Mobile Number</label>
                          <input type="tel" class="form-control" />
                          </div>
                            </div>

 </div>


 <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" class="form-control" />
        </div>
        </div>

<div class="col-md-4 col-sm-4 col-xs-12">
<div class="form-group">
<label>Fluent Languages</label>
<select class="form-control">
    <option selected>
       Select
</option>
<option>spoken</option>
 <option>literate</option>
</select>
</div>
</div>


<div class="col-md-4 col-sm-4 col-xs-12">
<div class="form-group">
<label>Birthplace</label>
<input type="text" class="form-control" />
</div>
</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>Please list all states & countries in which you’ve lived since age 18</label>
        <select class="form-control">
            <option selected>
                Select
         </option>
                <option>18</option>
                <option>27</option>
                </select>
          </div>

</div>






<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>Diagnosed disorders, conditions, and syndromes</label>
        <input type="text" class="form-control" />
       
    </div>
</div>





<div class="col-md-12 col-sm-12 col-xs-12">
<div class="form-group">
    <label>Highest Level of education completed</label>
    <input type="text"  class="form-control" />
   
</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
<div class="form-group">
        <label>Name of Company/Employer</label>
        <input type="text" class="form-control" />
        </div>
      </div>

    

          <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                          <label>Job Title</label>
                          <input type="text" class="form-control" />
                      </div>
                    </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            
        <div class="form-group">
                <label>Annual Income</label>
                <input type="text" class="form-control" />
            </div>
          </div>

         
          </div>


          <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                      <label>Have you declared bankruptcy?</label>
                      <input type="text"  class="form-control" />
                  </div>
            </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                        <label>Month and year was it discharged</label>
                        <input type="text"  class="form-control" />
                    </div>
                    </div>
                    </div>
</div>
   

  </div>



<!---->



  <div class="row">
      <!-- WACAP APPLICATION -->
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="bg-primary heading"><p>APPLICANT 2: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION</p></div>
  
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" />
          </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="form-group">
                <label>Preferto be called</label>
                <input type="text" class="form-control" />
                </div>
            </div>



  
          </div>
  
  
          <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="tel" class="form-control" />
                    </div>
                      </div>

              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" />
                  </div>
                  </div>
  
   
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                      <label>Birthplace</label>
                      <input type="text" class="form-control" />
                      </div>
                      </div>
  
          </div>
  


          
  <div class="col-md-12 col-sm-12 col-xs-12">
  
     
          <div class="form-group">
          <label>Fluent Languages</label>
          <select class="form-control">
              <option selected>
                 Select
          </option>
          <option>spoken</option>
           <option>literate</option>
          </select>
          </div>
          </div>
         
          
    
    <div class="col-md-12 col-sm-12 col-xs-12">     
    <div class="form-group">
        <label>Please list all states & countries in which you’ve lived since age 18</label>
        <select class="form-control">
            <option selected>
               Select
        </option>
        
        </select>
      
    </div>
    </div>

    
  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
          <label>Diagnosed disorders, conditions, and syndromes</label>
          <input type="text" class="form-control" />
         
      </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
          <label>Highest Level of education completed</label>
          <input type="text" class="form-control" />
         
      </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
          <label>How long?</label>
          <input type="text" class="form-control" />
         
      </div>
  </div>
  
  
  <div class="col-md-12 col-sm-12 col-xs-12">
  
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
                  <label>Job Title</label>
                  <input type="text" class="form-control" />
              </div>
            </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    
<div class="form-group">
        <label>Annual Income</label>
        <input type="text" class="form-control" />
    </div>
  </div>
 
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
  
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
                  <label>Have you declared bankruptcy?</label>
                  <input type="text"  class="form-control" />
              </div>
        </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                    <label>Month and year was it discharged:</label>
                    <input type="text"  class="form-control" />
                </div>
                </div>





                </div>
  
  
 
     </div>
  
  
  <!-- APPLICANT 1: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION -->
  
  <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="bg-primary heading"><p>ALL CHILDREN CURRENTLY LIVING IN THE HOME</p></div>
  
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <label>Child 1 Name</label>
      <input type="text" class="form-control" />
      </div>
        </div>
  
  
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Child 1 Age/Birthdate</label>
              <input type="date" class="form-control" />
              </div>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Child 1 Relationship</label>
                      <input type="text" class="form-control" />
                      </div>
                        </div>
        
              </div>



              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Child 2 Name</label>
              <input type="text" class="form-control" />
              </div>
                </div>
          
          
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Child 2 Age/Birthdate</label>
                      <input type="date" class="form-control" />
                      </div>
                        </div>
        
        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                              <label>Child 2 Relationship</label>
                              <input type="text" class="form-control" />
                              </div>
                                </div>
                
                      </div>
   </div>

    </div>



    <!--child 4-->


    <div class="row">
        <!-- WACAP APPLICATION -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="bg-primary heading"><p>APPLICANT 2: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION</p></div>
    
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label>Child 3 Name</label>
            <input type="text" class="form-control" />
            </div>
              </div>
        
        
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Child 3 Age/Birthdate</label>
                    <input type="date" class="form-control" />
                    </div>
                      </div>
      
      
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label>Child 3 Relationship</label>
                            <input type="text" class="form-control" />
                            </div>
                              </div>
              
                    </div>
      
      
      
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Child 4 Name</label>
                    <input type="text" class="form-control" />
                    </div>
                      </div>
                
                
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label>Child 4 Age/Birthdate</label>
                            <input type="date" class="form-control" />
                            </div>
                              </div>
              
              
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                    <label>Child 4 Relationship</label>
                                    <input type="text" class="form-control" />
                                    </div>
                                      </div>
                      
                            </div>     
   
       </div>
    
    
    <!-- APPLICANT 1: PERSONAL BACKGROUND & EMPLOYMENT INFORMATION -->
    
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="bg-primary heading"><p>ALL OTHERS LIVING IN THE HOME 
            (attach an additional sheet if needed)
            </p></div>
    
       
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Occupant 1 Name</label>
          <input type="text" class="form-control" />
          </div>
            </div>
      
      
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Occupant 1 Relationship</label>
                  <input type="date" class="form-control" />
                  </div>
                    </div>
    
    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label>Occupant 1 Circumstances</label>
                          <input type="text" class="form-control" />
                          </div>
                            </div>

                            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Occupant 1 Birthdate</label>
                  <input type="date" class="form-control" />
                  </div>
                    </div>
            
                  </div>     
     </div>
  
      </div>


      <div class="row">
          <!-- WACAP APPLICATION -->
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="bg-primary heading"><p>HOME AND PROPERTY</p></div>
      
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                          <label>Type of Home </label>
                          <select class="form-control">
                              <option selected>
                                 Select
                          </option>
                          
                          <option>House </option> 
                          <option>Condo/townhouse </option>
                          <option> Apartment </option>
                          <option> Manufactured </option>
                          <option>Other </option>
                          
                          </select>
                          </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Home Ownership  </label>
                        <select class="form-control">
                            <option selected>
                               Select
                        </option>
                        
                        <option>HOwned</option> 
                        <option>Rented</option>
                        <option> Leased </option>
                        <option> Other</option>
                      
                        
                        </select>
                        </div>
              </div>


              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label>Number of Bedrooms </label>
                      <select class="form-control">
                          <option selected>
                             Select
                      </option>
                      
                      <option>1</option> 
                      <option>2</option>
                      <option> 3 </option>
                      <option> 4</option>
                    
                      
                      </select>
                      </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Areas of water on your property  </label>
                    <select class="form-control">
                        <option selected>
                           Select
                    </option>
                    
                    <option>None</option> 
                    <option>Pool</option>
                    <option>Jacuzzi </option>
                    <option>Fountain</option>
                    <option>Pond</option>
                    <option>Other</option>
                    </select>
                    </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>If you have areas of water on your property, are they covered or fenced?</label>
                <input type="text" class="form-control" />
                </div>
                  </div>        

             </div>     
     
         </div>
      
      
      <!-- Pet -->
      
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="bg-primary heading"><p>PET
              </p></div>
      
         
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Pet 1 Name</label>
            <input type="text" class="form-control" />
            </div>
              </div>
        
        
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Pet 1 Breed</label>
                    <input type="text" class="form-control" />
                    </div>
                      </div>
      
                   </div>   



                   <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Pet 2 Name</label>
                  <input type="text" class="form-control" />
                  </div>
                    </div>
              
              
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label>Pet 2 Breed</label>
                          <input type="text" class="form-control" />
                          </div>
                            </div>
            
                         </div>   
                  
                   <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label>Do you have more than 2 pets?</label>
                        <input type="text" class="form-control" />
                        </div>
                          </div>


                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="form-group">
                                <label>If yes, how many?</label>
                                <input type="text" class="form-control" />
                                </div>
                                  </div>
                  
       </div>
    
        </div>

<!--criminal-->

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="bg-primary heading"><p>CRIMINAL HISTORY 
        </p></div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label>Has anyone in your home EVER been arrested or convicted of a crime?</label>
                          <input type="text" class="form-control" />
                          </div>
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                  <label>If ‘Yes’, explain who, when, and for what offense</label>
                                  <input type="text" class="form-control" />
                                  </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
<p>   Have you, anyone in your home, or anyone in your family, had a child abuse allegation filed against him or her, or ever been
                                    investigated by the DCYF (Department of Children, Youth & Families, formerly known as DSHS)? (Please include members from immediate, extended families, and previous marriages.):
                                  </p>
                                  </div>
                          

            
 </div>

  </div>

  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="bg-primary heading"><p>FOSTER CARE & ADOPTION THROUGH FOSTER CARE 
              </p></div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            
                                <p>Please indicate the program that you are interested in pursuing. This is not binding and may be revised or changed with the input of your social worker during the home study and licensing process.</p>
                             
                             <div>
                                <input type="checkbox" name="Foster Care" value="Foster Care"> <strong> Foster Care:</strong> accepting temporary placements of children until a permanency plan can be completed. Permanency plans involve reunification with biological parents, relatives, or adoption by the foster family or other unrelated family.
                              </div>
                              <div>
                                <input type="checkbox" name="Adoption through Foster Care" value="Adoption through Foster Care"> <strong> Adoption through Foster Care:</strong> accepting placements of children in foster care whose permanency plan is adoption or who are legally free for adoption. These placements are intended to be permanent but will be supported through monthly home visits until adoption finalization occurs
</div>
                                  </div>
     
                  
       </div>
      
 </div>


 <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bg-primary heading"><p>INFORMATION REGARDING THE CHILD YOU’RE HOPING TO FOSTER
            </p></div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
 
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control">
                                        <option selected>
                                          Male
                                    </option>

                                    <option>
                                       Female
                                 </option>

                                 <option>
                                    Other
                              </option>

                                    </select>


                                  </div>
                                </div>


                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group">
                                          <label>Age</label>
                                         
                                    <input type="number" class="form-control"/>
                                      
                                      </div>
                               </div>
              
              
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                      <label>Number of Children/Siblings</label>
                                     
                                <input type="number" class="form-control"/>
                                  
                                  </div>
                           </div>
              
              
                           <div class="col-md-3 col-sm-3 col-xs-12">
                           <div class="form-group">
                              <label>Ethnicity</label>
                              <input type="text" class="form-control" />
                           </div>   
                          </div>
              
                        </div>
 
 
                       
                      
                      
                      
                      </div>

                   <p>  Are you open to considering children and/or youth who do not meet your current child profile as indicated above?</p>
                   <p>In “No”, please describe children and/or cases you will not consider: </p>
   
                
     </div>
    
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bg-primary heading"><p>APPLICATION FEES & AUTHORIZATION TO PROCESS
            </p></div>
                       

                   <p> The WACAP non-refundable application fee is $250.</p>
                    <p>  The WACAP Homestudy fee is $1,250.</p>
                      <p>WACAP bills a $500 advocacy fee annually for “adoption-only” families until a child is placed in your home. 
</p>          


<div>
    <input type="checkbox" name="Foster Care" value="Foster Care"> 
    I confirm that the information given in this form is true, complete and accurate
    </div>
    <hr>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label>Applicant 1 - Signature</label>
      
        </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="form-group">
              <label>Date</label>
              <input type="date" class="form-control" />
              </div>
          </div>

        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Applicant 2 - Signature</label>
          
            </div>
              </div>
    
              <div class="col-md-6 col-sm-6 col-xs-12">
    
              <div class="form-group">
                  <label>Date</label>
                  <input type="date" class="form-control" />
                  </div>
              </div>

              <strong>Please note:  </strong>
              <p>	<span>-</span>WACAP serves families who reside in <strong>King, Snohomish </strong> and <strong>Pierce </strong> Counties in WA State.</p>
            <p> <span>-</span>By submitting your application, you are not automatically approved into the Foster Care & Adoption Program – 
              this is the first step to WACAP’s Review and Approval process. Additional screening meetings with our Licensor and Foster Care & Adoption Team are required before starting the homestudy process.</p>
            <p><span>-</span>I understand the fee schedule above and agree to pay fees as billed.</p>
            <div>
                <input type="checkbox" name="Foster Care" value="Foster Care"> 
                I have read, understand and agree with these statements above.
                </div>
                <hr>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Applicant 1 - Signature</label>
                    
                      </div>
                        </div>
              
                        <div class="col-md-6 col-sm-6 col-xs-12">
              
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                              <label>Applicant 2 - Signature</label>
                            
                              </div>
                                </div>
                      
                                <div class="col-md-6 col-sm-6 col-xs-12">
                      
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" />
                                    </div>
                                </div>
              
    
            </div>

                
     </div>


     <div class="form-group">
        <button class="btn btn-success">Submit</button>
    </div>
    
</div>


</div>